html {
  scroll-behavior: smooth;
}

body {
  align-items: center;
  margin: 0;
  padding: 0;

}

.logo {
  display: flex;
  width: 90px;
  height: 80px;
  padding: 20px 100px;
  margin-left: 100px
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-right: 120px;
  background-color: rgb(230, 230, 230, 0.1);
  padding: 5px 3px;
  border-radius: 8px;
  top: 0;
  bottom: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding: 2px 50px;
  transition: 0.3s;

}

.menu :hover {
  background-color: #7abbc2;
  border-radius: 8px;

}

.Background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.team {
  left: 34%;
  top: 18%;
  position: absolute;
  font-family: helvetica, arial;
  text-transform: uppercase;
  font-size: 110px;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 10s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }

  100% {
    background-position: 500%;
  }
}

.about-us {
  position: absolute;
  padding: 40px;
  width: 70%;
  text-align: center;
  margin: 300px 250px;
}

.border-box {
  padding: 40px;
  border: 4px solid #00bcd4;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 16px rgb(255, 255, 255, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.border-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgb(255, 255, 255, 0.6);
}

h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
  color: #ffffff;
}

h1 span {
  color: #00e5ff;
}

.tagline {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 30px;
  color: #cccccc;
}

.description {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.6;
  color: #ffffff;
}